# Telegram Bot Token
BOT_TOKEN=your_telegram_bot_token_here

# База данных
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=video_stats
DB_HOST=localhost
DB_PORT=5432

# GigaChat API
GIGACHAT_CREDENTIALS=your_gigachat_credentials_here
GIGACHAT_SCOPE=GIGACHAT_API_PERS